.wrap{
  display: contents;
  width: 70%;
  min-width: 200px;
  max-width: 1000px;
  position: relative;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
}
 .pic {
   position: relative;
   top: 10px;
   img {
     width: 90%;
     max-width: 400px;
   }
 }
