@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.wrap{
  width: 70%;
  min-width: 200px;
  max-width: 600px;
  position: relative;
  top: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 20px;
}
